.user-list {
  padding: 10px;
  background-color: white;
}

.user-list h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 10px;
    display: flex;
}

.select-container {
  margin-bottom: 16px;
}

.chart {
  margin-top: 20px;
  background-color: #f8f9fa;
  padding: 16px;
  border-radius: 12px;
}

.chart-item {
  margin-top: 20px;
}
