.sidebar {
  width: 190px;
  height: 100%;
  background-color: #fff; /* Dark gray */
  color: #000;
  margin: 0;
  background-color: white;
  padding: 8px 8px;
}

.sidebar-title {
  display: flex;
  margin-left: 15px;
}

.sidebar-logo {
  width: 100px;
  height: auto;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.sidebar-item {
  font-family: "Roboto", sans-serif;
  margin: 6px 0;
  font-size: 14px;
}

.sidebar-link {
  display: flex;
  padding: 9px 20px;
  border-radius: 6px;
  color: #000;
  text-decoration: none;
  transition: background 0.2s, color 0.2s;
  align-items: center;
}

/* Hover: xám */
.sidebar-link:hover {
  background-color: rgb(219, 217, 217);
  color: #000;
}

/* Active: xanh */
.sidebar-link.active {
  background-color: #1677ff1d;
  color: #1677ff;
}

.sidebar-footer {
  display: flex;
  justify-content: center;
}

.sidebar-footer button {
  border: none;
}

.sidebar-footer button:hover {
  color: #1677ff;
}

@media (max-width: 1279px) {
  .sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    height: calc(100vh - 60px);
    background: white;
    z-index: 999;
    box-shadow: 2px 0 6px rgba(0,0,0,0.1);
  }
}

